<a href="https://colab.research.google.com/github/worejeongglenogang/study03/blob/main/%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#3주차

정수형 : int   
실수형 : float   
부울: bool  
문자열 : str   
복소수 : complex

In [ ]:
a = 6890
type(a)
b = str(a)
type(b)

str

리스트 : []  
튜플 :()  
딕셔너리 : {a:1,b:2}  
집합:{1,2,3}

변수

num =123  
pi =3.14  
msg = 'game over'  
value = True  
변수 = 1

연산자  
더하기 +    
뺴기  -  
나누기   /  
몫   //  
나머지  %   
지수  **  
대입  =  
같다  ==  
and    &&    
or    ||

In [ ]:
menu = [ '라면', '햄버거', '피자']
'라면'in menu

True

input()함수

In [ ]:
name = input ("당신의 이름을 입력하세요")
age = int ( input( "나이가 몇 살입니까?"))

당신의 이름을 입력하세요ㅇㄹㄴㄴㅁㄴㅁㅁㄴㄹㄴㅁ
나이가 몇 살입니까?213114324413251324

In [ ]:
print("hello \n world")
print ('she said:\'hi\'')
print('it\'s okay')
print('c:\\User\\Name')
print('A\tB')

hello
 world
she said:'hi'
it's okay
c:\User\Name
A	B

조건문

In [ ]:
#숫자를 입력을 받아서 짝수이면 짝수입니다. 를 출력하고 홀수이면 홀수입니다를 출력하는 프로그램
a = int ( input( "숫자를 입력하세요"))
if a % 2 == 0:
    print("짝수입니다")
else:
    print("홀수입니다")

숫자를 입력하세요3
홀수입니다

In [ ]:
a = int(input (" 숫자를 입력하세요"))
if a > 90:
  print("A")
elif a>80:
  print("B")
elif a>70:
  print("C")
elif a>60:
  print("D")
else:
  print("F")

 숫자를 입력하세요75
C

반복  
 for문 : 횟수 반복, for i in range(5):  
 while문 : 조건이 성립할떄까지  반복

In [ ]:
for i in range(100):
  print(i,end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,

In [ ]:
for i in range(1, 11, 2):
  print(i)

for c in "GAME OVER":

 print(c)

1
3
5
7
9
G
A
M
E

O
V
E
R

In [ ]:
for item in [12,22,33,44]:
  print("값:" , item )

값: 12
값: 22
값: 33
값: 44

In [ ]:
my = {"월" :"짬뽕", "화":"냉면", "수": "떡볶이"}
for e in my:
  print("키:",e)

키: 월
키: 화
키: 수

In [ ]:
a = int(input (" 숫자를 입력하세요"))
d = a*2
print(d)

 숫자를 입력하세요2
4

In [ ]:
for i in range(1,10):
  print("2 *",i,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(i,"x", j, "=", i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
msg = "동양미래대"

In [ ]:
hi = "안녕하세요"

In [ ]:
msg[0:2]

'동양'

In [ ]:
hi[0:2]

'안녕'

리스트 메소드    
append(): 맨뒤에서 추가    
extend(): 리스트 a를 추가    
count(): 항목 개수를 반환    
index(): 리스트에서 항목을 찾아 변환  
insert(a, b ): a위치에 b를 삽입   
pop(): 마지막항목을 반한후 삭제  
remove ():삭제  
reserve():리스트 항목 순서 뒤집기  
sort(): 정렬

def find_min_max(A):
  min = A[0]
  max = A[0]
  for i in range(1, len(A)):
  if max < A[i] : max = A[i]
  if min > A[i]: min= A[i]
  return min,max
  data = [5,3,8,4,9,1,6,2,7]
  x,y = find_min_ max(data)
  print(" (min,max)

In [1]:
def find_min_max(A):
  min = A[0]
  max = A[0]
  for i in range(1, len(A)):
  if max < A[i] : max = A[i]
  if min > A[i] : min= A[i]
  return min,max
  data = [5,3,8,4,9,1,6,2,7]
  x,y = find_min_max(data)
  print("(min,max)")

IndentationError: expected an indented block after 'for' statement on line 4 (ipython-input-2139061023.py, line 5)

4주차

두수를 입력 받아서 두수의 합을 출력하는 함수 정의, 호출:

첫 번째 숫자를 입력하세요: 2
두 번째 숫자를 입력하세요: 3
두 수의 합: 5

In [ ]:
def sum_two_numbers(a, b):
    total = a - b
    return total  # 뺄셈 결과를 반환

a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))
result = sum_two_numbers(a, b)
print("두 수의 뺄셈 결과:", result)

첫 번째 숫자를 입력하세요: 5
두 번째 숫자를 입력하세요: 1
두 수의 뺄셈 결과: 4

In [ ]:
def add(a, b):
    return a + b  # 더셈

def subtract(a, b):
    return a - b  # 뺄셈

def multiply(a, b):
    return a * b  # 곱셈

def divide(a, b):
    if b == 0:
        return "0으로 나눌 수 없습니다!"  # 0으로 나누는 오류 처리
    return a / b  # 나눗셈

# 사용자 입력 받기
a = int(input("첫 번째 숫자를 입력하세요: "))
b = int(input("두 번째 숫자를 입력하세요: "))

# 연산 선택
print("\n어떤 연산을 하시겠습니까?")
print("1: 더셈")
print("2: 뺄셈")
print("3: 곱셈")
print("4: 나눗셈")

operation = input("선택하세요 (1/2/3/4): ")

if operation == '1':
    result = add(a, b)
    print("두 수의 더셈 결과:", result)
elif operation == '2':
    result = subtract(a, b)
    print("두 수의 뺄셈 결과:", result)
elif operation == '3':
    result = multiply(a, b)
    print("두 수의 곱셈 결과:", result)
elif operation == '4':
    result = divide(a, b)
    print("두 수의 나눗셈 결과:", result)
else:
    print("잘못된 선택입니다. 1, 2, 3, 4 중 하나를 선택해주세요.")

첫 번째 숫자를 입력하세요: 4
두 번째 숫자를 입력하세요: 4

어떤 연산을 하시겠습니까?
1: 더셈
2: 뺄셈
3: 곱셈
4: 나눗셈
선택하세요 (1/2/3/4): 1
두 수의 더셈 결과: 8

In [ ]:
import random

def generate_lotto_numbers():
    lotto_numbers = random.sample(range(1, 46), 6)
    lotto_numbers.sort()
    return lotto_numbers

# 로또 번호 6개 추첨
lotto = generate_lotto_numbers()
print("이번 주 로또 번호는:", lotto)

이번 주 로또 번호는: [4, 5, 6, 27, 29, 39]

In [ ]:
lotto_list =list(range(1,46))
a = random.sample(lotto_list,6)
a.sort()
print(a)

5 30 33 35 43 44

In [ ]:
a = 'dkalg23++7'
print(a.isalnum())

False

In [ ]:
a = input("새로운 비밀번호를 입력하세요.:")
if  (a == 1234):
  print("good~ 비밀번호가 올바르게 생성됐습니다.")
else:
  print("비밀번호 가 옳지 않습니다.")

새로운 비밀번호를 입력하세요.:1234
비밀번호 가 옳지 않습니다.

In [ ]:
def check_password(password):
    if len(password) >= 8 and password.isalnum():  # pw -> password로 수정, isalnum() 메서드 호출
        print("good 비밀번호가 생성")
    else:
        print("bad 비밀번호가 생성안됨")

In [ ]:
password = input("새로운 비밀번호를 입력하세요.:")
check_password(password)

새로운 비밀번호를 입력하세요.:fsdfsfsd
good 비밀번호가 생성

In [ ]:
a = []
b = [1,2,3,4,5]
c = ["hi","hello"]
bc = len(b)
ca = len(c)
print("a리스트의 길이:",   bc   )
print("c두번쨰값:",   c[1]   )
print("b=",b)

a리스트의 길이: 5
c두번쨰값: hello
b= [1, 2, 3, 4, 5]

In [ ]:
b = [1,2,3,4,5]
hap = 0
for i in range(len(b)):
  hap = hap+ b[i]
print("b리스트의 합:", hap )

b리스트의 합: 15

In [ ]:
import random
e = [random.randint(0,10) for i in range(10)]
print(e)

[0, 8, 5, 1, 8, 3, 6, 4, 7, 9]

In [ ]:
a =[2,3,4,5]
a.append(6)
a.append(7)
a

[2, 3, 4, 5, 6, 7]

In [ ]:
a.pop()
a

[2, 3, 4, 5, 6]

In [ ]:
a.insert(0,1)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
b = [6,7,8,9]
b.append(4)
b.append(5)
b.append(6)
b.append(7)
b

[6, 7, 8, 9, 4, 5, 6, 7]

In [ ]:
b.sort()
b

[4, 5, 6, 6, 7, 7, 8, 9]